body {
  width: 220px;
  font-size: 100%;
  color: #303942;
  font-family: "Microsoft YaHei", "Consolas";
}

.height-fix {
  height: 40px;
}


.my-select-span {
  display:inline-block;
  width: 40%;
  text-align: center;
}
.my-select {
  width:120px;
}