node_modules
app/dest/*.js
temp
.tmp
dist
.sass-cache
app/bower_components
test/bower_components
package
.babelrc
.bowerrc
.editorconfig
.gitattributes
.yo-rc.json
app/scripts.babel/
bower.json
gulpfile.babel.js
package-lock.json
test/

